*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-nav{
    height: 100px;
    background-color: var(--white);
}

.bot-nav{
    height: 100px;
    background-color:var(--white);
}

.top-nav-links-div{
    display: flex;
    justify-content: space-around;
}

.bot-nav-links-div{
    display: flex;
    justify-content: space-around;
}

#main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    padding: 5vh 5vw;
}