* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us-title {
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;


}

#about-text {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-left: 20vw ;
    margin-right: 20vw;
    margin-bottom: 5vh;
}

#about-img-heart{
    height: 45vh;
    width: 30vw;
    margin-bottom: 10vh;
    margin-right: 5vw;
}

#about-img-hands{
    height: 40vh;
    width: 35vw;
    margin-bottom: 10vh;
    margin-left: 5vw;
}


