*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --pink: #d25380;
    --orange: #e08e6d;
    --yellow: #f6c391;
    --white: #fffaf4;

}

a{
    color: black;
    text-decoration: none;
}

button{
    cursor: pointer;
}


